body {
    background-color: black;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.main-container {
    transition: all .3s ease;
    transform: translateZ(0);
    overflow: hidden;
    width: 100%
}
.boxed-layout {
    background: #eee
}
.boxed-layout .main-container {
    max-width: 1280px;
    margin: 0 auto;
    left: 0;
    right: 0
}

@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
  box-sizing: border-box;
}
.calculator input,
.calc-button   {
  font-family: 'Space Mono';
}
header, section, aside, footer {
  color: #c2baba54;
	padding:1em;
  text-align: center;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; 
}
p {
  line-height: 170%;
}
header{ 
  grid-area: header;
}
nav{ 
	grid-area: nav;
}
section{ 
	grid-area: section;
}
aside{ 
	grid-area: aside;
}
footer{ 
	grid-area: footer;
}
.grid {
  display: grid;
  grid-template-areas:  "header"
                        "section"
                        "nav"
                        "aside"
                        "footer";
}
@media only screen and (min-width: 720px) {	
	.grid{
		display: grid;
		grid-template-areas: 	"header header header"
								"section section section"
								"nav nav aside"
								"footer footer footer";	
	}
}
@media only screen and (min-width: 1024px) {
	.grid{
		display: grid;
		grid-template-areas: 	"header header header"
								          "section nav aside"
								          "footer footer footer";	
  }
}
.header, .section, .aside, .footer {
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
  background-color: #c2baba18;
}
.calculator  {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}
.is-number, .is-operator  {
  background: rgba(0, 0, 0, 0.5); 
  border: 1px solid #111; 
  padding: 20px;
  color: #EEE;
  border-radius: 5px; 
  font-size: 22px;
  cursor: pointer; 
}
.calculator-buttons {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr;
}
img {
  border: 2px solid #dddddd;
  opacity: 50%;
}
.is-zero
{
  grid-column: span 3;
}
.is-clear {
  grid-column: span 2;
}
#result{
  height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 20px;
  color: #919191;
}
#output{
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 20px 10px;
  width: 100%;
  color: #EEE;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}